<h1> Convert <%= @symbol %> </h1>

<p> Go <a href="/forex">back</a>. </p>

<ul>
  <% @array_of_symbols.each do |next_symbol| %>
  <li>
  <a href="/forex/<%=@symbol%>/<%=next_symbol%>">
    Convert 1 <%=@symbol%> to <%=next_symbol%>...
  </a>
  </li>
  <% end %>
</ul>